.theadUsuariosAdministradores {
    background-color: #05C7F2;
    color: #F2F2F2!important;
  }
  .form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    align-self: flex-start;
    margin-bottom: 5px; 
}

.form-group input {
    height: 100px; 
}

.navtab_estados{
    background-color: #05C7F2;
    color: #F2F2F2!important;
}

/* Estilo para el botón activo */
.nav-pills .nav-item .nav-link.active {
    background-color: #05C7F2;
    color: #F2F2F2;
}

/* Estilo para los botones inactivos */
.nav-pills .nav-item .nav-link:not(.active) {
    background-color: transparent; /* Color de fondo predeterminado */
    color: #000; /* Color de texto para botones inactivos */
}

/*color de texto del login*/
.login-text {
	font-size: 22px;
	margin-left: 10px;
	margin-bottom: 0;
	letter-spacing: 1px;
	color: #F2F2F2
}

/*color de rectangulos de estadistica*/
.estadisticaRectangulos {
	font-size: 22px;
	margin-left: 10px;
	margin-bottom: 0;
	letter-spacing: 1px;
	color: #04D9B2
}